@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
}
body{
    background-color: #800080;
}
.countdown{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.box{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.5);
    font-size: 16px;
    margin-top: 9%;
}
.box:after{
    content: "";
    position: absolute;
    background-color: rgba(255,255,255,0.12);
    height: 100%;
    width: 50%;
    left: 0;
}
span.num{
    background-color: #202020;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 5em;
}
span.text{
    font-size: 1.2em;
    background-color: #ff0080;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    font-weight: 400;
}


.botao-estilo-80 {
    background-color: #271a25; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-size: 14px; /* Tamanho da fonte */
    padding: 10px 10px; /* Espaçamento interno */
    border: 2px solid #ff7b00; /* Cor da borda do botão */
    border-radius: 10px; /* Cantos arredondados */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    font-family: 'Press Start 2P', cursive; /* Usando a fonte Press Start 2P que mencionei anteriormente */
    cursor: pointer; /* Altera o cursor para a mão quando passa por cima */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
    margin-top: 10%;
    
        }

.botao-estilo-80:hover {
            background-color: #ff00dd; /* Cor de fundo quando o mouse passa por cima */
    color: #1b2a3e; /* Cor do texto quando o mouse passa por cima */
    
        }

.tituloo{
            font-family: "Press Start 2P", cursive;
                    font-size: 0,3em;
                    color: #ADD8E6;
                    text-align: center;
                }

@media screen and (max-width: 1024px){
    .countdown{
        width: 85vw;
    }
    .box{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
    
}
@media screen and (max-width: 768px){
    .countdown{
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .box{
        width: calc( 50% - 40px );
        height: 30vmin;
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .countdown{
        gap: 15px;
    }
    .box{
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
    .span.text{
        font-size: 1.5em;
    }
}