@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  background-color:  #22142b;
  ;
  font-family: 'Poppins';
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgb(20, 20, 20);
  gap: 32px;
  margin-left: 5%;
  margin-right: 6%;
}

.title {
  grid-column: 4 span;
  text-align: center;
  font-size: 22px;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.value {
  font-size: 64px;
  font-weight: 700;
}

.name {
  font-size: 16px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.cabecalho .logo {
  width: 65px;
}

.cabecalho .menu{
  display: flex;
  align-items: center;
  height: 100%;
}

.cabecalho nav li a {
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.2s;
}

.cabecalho nav li a:hover {
  background-color: #d5011d;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 132px);
  padding: 0 30px 30px;
}

.container .imagem-titulo {
  max-width: 500px;
}

.container .descricao {
  color: #a8adb7;
  width: 85%;
  font-size: 18px;
  margin: 30px 0;
}

.container .botao-trailer {
  background-color: #ff0021;
  color: #ffffff;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
  transform: scale(1.1)
}

.fundo-video {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.fundo-video .video {
  height: 100vh;
}

.fundo-video::after {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(52, 52, 50, 0.749);
  opacity: 0;
  visibility: hidden;
}

.conteudo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 5px;
  gap: 15px;
}

.fechar-modal {
  background-color: #ffffff;
  color: #f03a17;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.modal iframe {
  border-width: 0;
  width: 640px;
  height: 360px;
}

.modal.aberto {
  opacity: 1;
  visibility: visible;
}

.direita{
float: right;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

}

.botao{
  margin-top: 35%;
  margin-left: 200%;
  
    outline: none;
    border: none;
    background-color: var(--background-color);
    border: 0.125rem solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;

}

.botao:hover {
  background-color: #2980b9; /* Cor de fundo alterada */
}

/* Estilize o botão quando estiver pressionado */
.botao:active {
  background-color: #1c638d; /* Cor de fundo alterada ao ser pressionado */
}

h2{
  font-size: 1em;
}
.h1{
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 36px;
  color: #ff6600; /* Exemplo de cor laranja */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  left: 10%;
}




@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {

    margin: 0;

    padding: 0;

    font-family: 'Open Sans', sans-serif;

}

.botao-game {
      background-color: #1b2a3e; /* Cor de fundo do botão */
      color: #fff; /* Cor do texto do botão */
      font-size: 24px; /* Tamanho da fonte */
      padding: 10px 20px; /* Espaçamento interno */
      border: 2px solid #ff6600; /* Cor da borda do botão */
      border-radius: 10px; /* Cantos arredondados */
      text-transform: uppercase; /* Transforma o texto em maiúsculas */
      letter-spacing: 2px; /* Espaçamento entre letras */
      font-family: 'Press Start 2P', cursive; /* Usando a fonte Press Start 2P que mencionei anteriormente */
      cursor: pointer; /* Altera o cursor para a mão quando passa por cima */
      transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
      margin-left: 150%;
     margin-top: 25%;
    }

    .botao-game:hover {
      background-color: #8AEAFF; /* Cor de fundo quando o mouse passa por cima */
      color: #1b2a3e; /* Cor do texto quando o mouse passa por cima */
    }

.title{
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 36px;
  color: #ff6600; /* Exemplo de cor laranja */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  left: 10%;
}
 

body {

  background-color:  #770a68;;

    height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

}

 

.box {

    display: flex;

    align-items: center;

    justify-content: space-around;

    height: 200px;

    width: 140px;

    background: transparent;

    border-radius: 3px;

    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);

}

 

.box {

    height: 170px;

    width: 130px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    color: #fff;

    background: rgba(5, 5, 5, .9);

    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);

    border-radius: 7px;

    letter-spacing: 3px;

}

 

.relogio span {

    font-weight: bolder;

    font-size: 60px;

}

 

.relogio span.tempo {

    font-size: 10px;

}
@media screen and (max-width: 700px) {
 .countdown { width:400px;
 } 

 .botao-game {margin-right: 10%;
}
 
}  
    
